button { 
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  padding-left: 0.66rem;
  padding-right: 0.66rem;
  margin-right: 6rem;
  margin-left: 6rem;
  color: black;
  border-radius: 1rem;
  border: none;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  margin-right: 50rem;
  margin-left: 50rem;
  text-align: center;
}

/*
.main-container__description {

}
*/

.main-container__text-area {
  margin-bottom: 1rem;
  padding-bottom: 5rem;
  border: solid;
  text-wrap: initial;
}

.main-container__run-button {
  background: linear-gradient(135deg, #F4C30F, #E27341);
  color: black;
  border: none;
  cursor: pointer;
  transition: opacity 0.16s;
}

.main-container__run-button:hover {
  opacity: 80%;
}

/* Query Container */
.query-container {
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  display: none;
}

.query-container__results-radio-button {
  margin-right: 3rem;
}

.query-container__results {
  display: none;
}

.query-container__logs {
  display: none;
}